article .task-box {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}
article .task-box summary {
  display: block;
  transition: margin 150ms ease-out;
  user-select: none;
}
article .task-box summary::before {
  margin: 0 1ch;
  display: inline-block;
  transition: 0.2s;
  content: '▶';
}
article .task-box #task-list {
  margin: 0;
}
article .task-box ol {
  counter-reset: item;
  padding-inline-start: 1em;
}
article .task-box li {
  display: block;
}
article .task-box li:before {
  content: counters(item, ".") ".";
  counter-increment: item;
}
article .task-box[open] {
  padding-bottom: 0.5em;
}
article .task-box[open] summary {
  margin-bottom: 10px;
}
article .task-box[open] summary::before {
  transform: rotate(90deg);
}
