.terminal {
    .terminal-code {
        .bash {
            &.ps1-w {
                color: var(--tc-brightblue);
                &::before{
                    content: ": ";
                    color: var(--tc-foreground);
                }
            }

            &.ps1-u {
                color: var(--tc-brightgreen);
            }

            &.ps1-h {
                color: var(--tc-brightgreen);
                &::before{
                    content: "@";
                }
            }

            &.ps1{
                &::after{
                    content: "]$ ";
                }
                &::before{
                    content: "[";
                }
            }
        }
    }
}