.browser .body {
  height: 30em;
  width: 100%;
  overflow-y: scroll;
  padding: 8px;
  box-sizing: border-box;
}
.browser .titlebar {
  display: none;
}
.browser .toolbar .address {
  width: 100%;
  box-sizing: border-box;
}
.win .browser .titlebar {
  display: block;
  width: 100%;
  height: 2.5em;
  padding-left: 0.5em;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
}
.win .browser .titlebar .titlebar-title {
  width: 30%;
  max-width: 20em;
  min-width: 15em;
  padding-left: 0.5em;
  border-radius: 0.4em 0.4em 0 0;
  display: inline-flex;
  height: calc(100% - 0.5em);
  margin-top: 0.5em;
  align-items: center;
}
.win .browser .titlebar .titlebar-title .titlebar-icon {
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.25em;
}
.win .browser .titlebar .titlebar-title .titlebar-text {
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 2em;
  flex: 1;
}
.win .browser .titlebar .titlebar-title::after {
  float: right;
  width: 2em;
  height: 2em;
}
.win .browser .titlebar .titlebar-extra {
  width: 1.9em;
  height: 1.9em;
  display: inline-block;
  border-radius: 0.2em;
  margin-top: 0.42em;
  vertical-align: top;
}
.win .browser .titlebar .button {
  height: 2.5em;
}
.win .browser .titlebar .button::after {
  margin-top: -0.25em;
}
.win .browser .toolbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5em;
  padding-left: 0.5em;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
}
.win .browser .toolbar .button {
  aspect-ratio: 1;
  height: 100%;
  transition: background 0.3s;
}
.win .browser .toolbar .address {
  border: none;
  flex: 1;
  height: 2.5em;
  border-radius: 1.25em;
  font-family: "Open Sans";
  padding: 0.2em 0.8em;
  box-sizing: border-box;
}
.win .browser .toolbar .address:focus,
.win .browser .toolbar .address:hover {
  outline: 1px solid;
  outline-offset: -1px;
}
.win .browser .titlebar {
  background: #202020;
  color: white;
}
.win .browser .titlebar .titlebar-title {
  background: #3b3b3b;
}
.win .browser .titlebar .titlebar-title::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -14 30 30"><path d="M-4 -4L4 4M4 -4L-4 4" stroke-linecap="round" stroke-width="1" stroke="white"/></svg>');
}
.win .browser .titlebar .titlebar-title .titlebar-icon:empty::after {
  content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path d="M24 10V25a2 2 0 0 1 -2 2h-14a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h9zh-7v-7" fill="none" stroke="white" stroke-width="1.5"/></svg>');
}
.win .browser .titlebar .button.btn-3:hover,
.win .browser .titlebar .button.btn-2:hover {
  background: #626262;
}
.win .browser .titlebar .button.btn-1:hover {
  background: #e81123;
}
.win .browser .titlebar .titlebar-extra:hover {
  background: #434343;
}
.win .browser .titlebar .titlebar-extra::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M-7 0 L7 0M0-7L0 7" stroke-width="1" stroke="white"/></svg>');
}
.win .browser .toolbar {
  color: white;
  background: #3b3b3b;
}
.win .browser .toolbar .button:hover {
  background: #4a4a4a;
}
.win .browser .toolbar .button.backward::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M-6 0 L0 -6M-6 0L0 6M-6 0 L7 0" stroke-width="1" stroke="white" stroke-linecap="round"/></svg>');
}
.win .browser .toolbar .button.foreward::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M6 0 L0 -6M6 0L0 6M6 0 L-7 0" stroke-width="1" stroke="white" stroke-linecap="round"/></svg>');
}
.win .browser .toolbar .button.refresh::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M6 0 A6 6 1 1 1 5.2 -3M5.2 -3h-4M5.2 -3v-4" fill="none" stroke-width="1" stroke="white" stroke-linecap="round"/></svg>');
}
.win .browser .toolbar .button.setting::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><g fill="white"><circle r="1"/><circle cx="6" r="1"/><circle cx="-6" r="1"/></g></svg>');
}
.win .browser .toolbar .address {
  background: #2b2b2b;
  color: white;
}
.win .browser .toolbar .address:focus,
.win .browser .toolbar .address:hover {
  outline-color: #656565;
}
.win.light .browser .titlebar {
  background: #cdcdcd;
  color: black;
}
.win.light .browser .titlebar .titlebar-title {
  background: #f7f7f7;
}
.win.light .browser .titlebar .titlebar-title::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -14 30 30"><path d="M-4 -4L4 4M4 -4L-4 4" stroke-linecap="round" stroke-width="1" stroke="black"/></svg>');
}
.win.light .browser .titlebar .titlebar-title .titlebar-icon:empty::after {
  content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path d="M24 10V25a2 2 0 0 1 -2 2h-14a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h9zh-7v-7" fill="none" stroke="black" stroke-width="1.5"/></svg>');
}
.win.light .browser .titlebar .button.btn-3:hover,
.win.light .browser .titlebar .button.btn-2:hover {
  background: #dedede;
}
.win.light .browser .titlebar .button.btn-1:hover {
  background: #e81123;
}
.win.light .browser .titlebar .button.btn-1:hover::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M-4 -4L4 4M4 -4L-4 4" stroke-linecap="round" stroke-width="1" stroke="white"/></svg>');
}
.win.light .browser .titlebar .titlebar-extra:hover {
  background: #adadad;
}
.win.light .browser .titlebar .titlebar-extra::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M-7 0 L7 0M0-7L0 7" stroke-width="1" stroke="black"/></svg>');
}
.win.light .browser .toolbar {
  color: black;
  background: #f7f7f7;
}
.win.light .browser .toolbar .button:hover {
  background: #e4e4e4;
}
.win.light .browser .toolbar .button.backward::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M-6 0 L0 -6M-6 0L0 6M-6 0 L7 0" stroke-width="1" stroke="black" stroke-linecap="round"/></svg>');
}
.win.light .browser .toolbar .button.foreward::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M6 0 L0 -6M6 0L0 6M6 0 L-7 0" stroke-width="1" stroke="black" stroke-linecap="round"/></svg>');
}
.win.light .browser .toolbar .button.refresh::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M6 0 A6 6 1 1 1 5.2 -3M5.2 -3h-4M5.2 -3v-4" fill="none" stroke-width="1" stroke="black" stroke-linecap="round"/></svg>');
}
.win.light .browser .toolbar .button.setting::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><g fill="black"><circle r="1"/><circle cx="6" r="1"/><circle cx="-6" r="1"/></g></svg>');
}
.win.light .browser .toolbar .address {
  background: #ffffff;
  color: black;
}
.win.light .browser .toolbar .address:focus,
.win.light .browser .toolbar .address:hover {
  outline-color: #cccccc;
}
.mac .browser .titlebar {
  height: 2.2em;
  text-align: start;
}
.mac .browser .titlebar .titlebar-title {
  width: 30%;
  max-width: 20em;
  min-width: 15em;
  padding-left: 0.5em;
  border-radius: 0.4em 0.4em 0 0;
  display: inline-flex;
  height: calc(100% - 0.3em);
  margin-top: 0.3em;
  margin-right: 0;
  align-items: center;
}
.mac .browser .titlebar .titlebar-title .titlebar-icon {
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.25em;
}
.mac .browser .titlebar .titlebar-title .titlebar-text {
  font-size: 0.9em;
  text-overflow: ellipsis;
  flex: 1;
}
.mac .browser .titlebar .titlebar-title::after {
  float: right;
  width: 2em;
  height: 2em;
}
.mac .browser .titlebar .titlebar-extra {
  width: 1.6em;
  height: 1.6em;
  display: inline-block;
  border-radius: 0.2em;
  margin-top: 0.42em;
  vertical-align: top;
}
.mac .browser .titlebar .button {
  height: 2.5em;
}
.mac .browser .titlebar .button::after {
  margin-top: 0.5em;
}
.mac .browser .titlebar .button.btn-3 {
  margin-right: 0.5em;
}
.mac .browser .toolbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2em;
  padding-left: 0.5em;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
}
.mac .browser .toolbar .button {
  aspect-ratio: 1;
  height: 1.6em;
  border-radius: 1em;
  transition: background 0.3s;
}
.mac .browser .toolbar .address {
  border: none;
  flex: 1;
  height: 1.8em;
  border-radius: 1.25em;
  font-family: "Open Sans";
  padding: 0.2em 0.8em;
  box-sizing: border-box;
  margin: 0.2em;
}
.mac .browser .toolbar .address:focus,
.mac .browser .toolbar .address:hover {
  outline: 1px solid;
  outline-offset: -1px;
}
.mac .browser .titlebar {
  background: #202020;
  color: white;
}
.mac .browser .titlebar .titlebar-title {
  background: #3b3b3b;
}
.mac .browser .titlebar .titlebar-title .titlebar-icon:empty::after {
  content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path d="M24 10V25a2 2 0 0 1 -2 2h-14a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h9zh-7v-7" fill="none" stroke="white" stroke-width="1.5"/></svg>');
}
.mac .browser .titlebar .titlebar-title::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -14 30 30"><path d="M-4 -4L4 4M4 -4L-4 4" stroke-linecap="round" stroke-width="1" stroke="white"/></svg>');
}
.mac .browser .titlebar .titlebar-extra:hover {
  background: #434343;
}
.mac .browser .titlebar .titlebar-extra::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M-7 0 L7 0M0-7L0 7" stroke-width="1" stroke="white"/></svg>');
}
.mac .browser .toolbar {
  color: white;
  background: #3b3b3b;
}
.mac .browser .toolbar .button:hover {
  background: #4a4a4a;
}
.mac .browser .toolbar .button.backward::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M-6 0 L0 -6M-6 0L0 6M-6 0 L7 0" stroke-width="1.5" stroke="white" stroke-linecap="round"/></svg>');
}
.mac .browser .toolbar .button.foreward::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M6 0 L0 -6M6 0L0 6M6 0 L-7 0" stroke-width="1.5" stroke="white" stroke-linecap="round"/></svg>');
}
.mac .browser .toolbar .button.refresh::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M6 0 A6 6 1 1 1 5.2 -3M5.2 -3h-4M5.2 -3v-4" fill="none" stroke-width="1.5" stroke="white" stroke-linecap="round"/></svg>');
}
.mac .browser .toolbar .button.setting::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><g fill="white"><circle r="1.5"/><circle cy="6" r="1.5"/><circle cy="-6" r="1.5"/></g></svg>');
}
.mac .browser .toolbar .address {
  background: #2b2b2b;
  color: white;
}
.mac .browser .toolbar .address:focus,
.mac .browser .toolbar .address:hover {
  outline-color: #656565;
}
.mac.light .browser .titlebar {
  background: #cdcdcd;
  color: black;
}
.mac.light .browser .titlebar .titlebar-title {
  background: #f7f7f7;
}
.mac.light .browser .titlebar .titlebar-title .titlebar-icon:empty::after {
  content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path d="M24 10V25a2 2 0 0 1 -2 2h-14a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h9zh-7v-7" fill="none" stroke="black" stroke-width="1.5"/></svg>');
}
.mac.light .browser .titlebar .titlebar-title::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -14 30 30"><path d="M-4 -4L4 4M4 -4L-4 4" stroke-linecap="round" stroke-width="1" stroke="black"/></svg>');
}
.mac.light .browser .titlebar .titlebar-extra:hover {
  background: #adadad;
}
.mac.light .browser .titlebar .titlebar-extra::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M-7 0 L7 0M0-7L0 7" stroke-width="1" stroke="black"/></svg>');
}
.mac.light .browser .toolbar {
  color: black;
  background: #f7f7f7;
}
.mac.light .browser .toolbar .button:hover {
  background: #e4e4e4;
}
.mac.light .browser .toolbar .button.backward::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M-6 0 L0 -6M-6 0L0 6M-6 0 L7 0" stroke-width="1.5" stroke="black" stroke-linecap="round"/></svg>');
}
.mac.light .browser .toolbar .button.foreward::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M6 0 L0 -6M6 0L0 6M6 0 L-7 0" stroke-width="1.5" stroke="black" stroke-linecap="round"/></svg>');
}
.mac.light .browser .toolbar .button.refresh::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M6 0 A6 6 1 1 1 5.2 -3M5.2 -3h-4M5.2 -3v-4" fill="none" stroke-width="1.5" stroke="black" stroke-linecap="round"/></svg>');
}
.mac.light .browser .toolbar .button.setting::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><g fill="black"><circle r="1.5"/><circle cy="6" r="1.5"/><circle cy="-6" r="1.5"/></g></svg>');
}
.mac.light .browser .toolbar .address {
  background: #ffffff;
  color: black;
}
.mac.light .browser .toolbar .address:focus,
.mac.light .browser .toolbar .address:hover {
  outline-color: #cccccc;
}
