abbr {
    cursor: help;
}

input[type=text],
select {
    font-size: 1em;
}

code {
    padding: .2em;
}

code.q::before,
code.q::after {
    content: "`";
}

pre.terminal-code details summary::before {
    content: "○";
}

pre.terminal-code details[open] summary::before {
    content: "●";
    color: #3b8eea;
}

pre.terminal-code details {
    display: inline-block;
}

pre.terminal-code details summary {
    display: inline-block;
    text-indent: -1ch;
}

summary {
    display: block;
}

details.task-box summary::before {
    margin: 0 1ch;
    display: inline-block;
    transition: 0.2s;
    content: '▶';
}

details.task-box summary {
    transition: margin 150ms ease-out;
}

details.task-box[open] summary {
    margin-bottom: 10px;

}

#task-list {
    margin: 0;
}

details.task-box[open] {
    padding-bottom: 0.5em;
}

details.task-box[open] summary::before {
    transform: rotate(90deg);
}

.help {
    cursor: help;
    text-decoration: underline dotted;
}

kbd {
    border: 1px solid #d6d6d6;
    border-bottom: 2px solid #c7c7c7;
    padding: 2px 4px;
    border-radius: 3px;
}

article {
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 50vh;
}

[contentEditable=true]:focus-visible {
    outline: none;
}

pre,
code {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}