@import "powershell";
@import "bash";

.terminal {

    .titlebar {
        display: none;
    }

    .terminal-body {
        width: 100%;
        overflow-y: scroll;
        box-sizing: border-box;
        display: flex;
        overflow-y: hidden;

        .panel-h>.terminal-code {
            border-color: #4c4a48;
            border-style: none solid;
    
            &:first-child {
                border-left: none
            }
    
            &:last-child {
                border-right: none
            }
        }
    
        .panel-v>.terminal-code {
            border-style: solid none;
            height: 100%;
    
            &:first-child {
                border-top: none
            }
    
            &:last-child {
                border-bottom: none
            }
        }

        .terminal-code {
            padding: 8px 1.5ch;
            margin: 0;
            cursor: default;
            white-space: pre-wrap;
            word-break: break-all;
            border-width: 1px;
            border-color: gray;
            border-radius: 0;
            font-size: 1rem !important;
            box-sizing: border-box;
            overflow: auto;

            .ps1 {
                user-select: none;
            }

            details {
                display: inline-block;

                summary {
                    display: inline-block;
                    text-indent: -1ch;
                }

                summary::before {
                    content: "○";
                }
            }

            details[open] {
                .ps1 {
                    user-select: auto;
                }

                summary::before {
                    content: "●";
                    color: #3b8eea;
                }

                summary.error::before {
                    content: "●";
                    color: #f14c4c;
                }
            }
        }
    }

    ::-webkit-scrollbar {
        width: 0.4em;
    }

    ::-webkit-scrollbar-track {
        opacity: 0;
    }

    ::-webkit-scrollbar-thumb:vertical {
        border-radius: 0.2em;
    }

    ::-webkit-scrollbar-corner {
        background: none;
    }
}

.terminal {
    --tc-foreground: #c0c0c0;
    --tc-background: #000000;
    --tc-black: #000000;
    --tc-white: #e5e5e5;
    --tc-red: #cd3131;
    --tc-green: #0DBC79;
    --tc-yellow: #e5e510;
    --tc-blue: #2472c8;
    --tc-magenta: #bc3fbc;
    --tc-cyan: #11a8cd;
    --tc-brightblack: #666666;
    --tc-brightwhite: #e5e5e5;
    --tc-brightred: #f14c4c;
    --tc-brightgreen: #23d18b;
    --tc-brightyellow: #f5f543;
    --tc-brightblue: #3b8eea;
    --tc-brightmagenta: #d670d6;
    --tc-brightcyan: #29b8db;
}

.light {
    .terminal {
        --tc-foreground: #333333;
        --tc-background: #FFFFFF;
        --tc-black: #000000;
        --tc-white: #555555;
        --tc-red: #cd3131;
        --tc-green: #00BC00;
        --tc-yellow: #949800;
        --tc-blue: #0451a5;
        --tc-magenta: #d670d6;
        --tc-cyan: #0598bc;
        --tc-brightblack: #666666;
        --tc-brightwhite: #a5a5a5;
        --tc-brightred: #cd3131;
        --tc-brightgreen: #14CE14;
        --tc-brightyellow: #b5ba00;
        --tc-brightblue: #0451a5;
        --tc-brightmagenta: #bc05bc;
        --tc-brightcyan: #0598bc;
    }
}

.mac {
    .terminal {
        --tc-foreground: #f0f0f0;
        --tc-background: #1b1b1b;
    }
}


.win {
    .terminal.win32 {
        --tc-foreground: #eeedf0;
        --tc-background: #012456;
    }
}

.terminal {
    .terminal-body {
        background: var(--tc-background, black);
    }

    .terminal-code {
        color: var(--tc-foreground, silver);

        .terminal-code-black {
            color: var(--tc-black, black);
        }

        .terminal-code-white {
            color: var(--tc-white, white);
        }

        .terminal-code-red {
            color: var(--tc-red, red);
        }

        .terminal-code-green {
            color: var(--tc-green, green);
        }

        .terminal-code-yellow {
            color: var(--tc-yellow, yellow);
        }

        .terminal-code-blue {
            color: var(--tc-blue, blue);
        }

        .terminal-code-magenta {
            color: var(--tc-magenta, magenta);
        }

        .terminal-code-cyan {
            color: var(--tc-cyan, cyan);
        }

        .terminal-code-brightblack {
            color: var(--tc-brightblack, gray);
        }

        .terminal-code-brightwhite {
            color: var(--tc-brightwhite, white);
        }

        .terminal-code-brightred {
            color: var(--tc-brightred, lightcoral);
        }

        .terminal-code-brightgreen {
            color: var(--tc-brightgreen, limegreen);
        }

        .terminal-code-brightyellow {
            color: var(--tc-brightgreen, lightyellow);
        }

        .terminal-code-brightblue {
            color: var(--tc-brightblue, deepskyblue);
        }

        .terminal-code-brightmagenta {
            color: var(--tc-brightmagenta, violet);
        }

        .terminal-code-brightcyan {
            color: var(--tc-brightcyan, lightcyan);
        }
    }

    ::-webkit-scrollbar-thumb {
        background: #c0c0c0;

        &:hover {
            background: #a8a8a8;
        }

        &:active {
            background: #787878;
        }
    }
}

.light {
    .terminal {
        .terminal-body {
            color: var(--tc-background, white);
        }

        .terminal-code {
            color: var(--tc-foreground, #333333);
        }
    }
}

.win {
    .terminal:not(.win32) {
        .titlebar {
            display: block;
            width: 100%;
            height: 2.5em;
            padding-left: 0.5em;
            user-select: none;
            overflow: hidden;
            box-sizing: border-box;

            .titlebar-title {
                width: 30%;
                max-width: 20em;
                min-width: 15em;
                height: calc(100% - 0.5em);
                padding-left: 1em;
                border-radius: 0.4em 0.4em 0 0;
                margin-top: 0.5em;
                display: inline-flex;
                align-items: center;

                .titlebar-icon {
                    width: 1.2em;
                    height: 1.2em;
                    display: inline-block;
                    vertical-align: middle;
                    background: transparent url(@powershell-icon) no-repeat center center;
                }

                .titlebar-text {
                    font-size: 0.8em;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    line-height: 2.3em;
                    font-weight: bold;
                    flex: 1;
                }

                &::after {
                    float: right;
                    width: 2em;
                    height: 2em;
                }
            }

            .titlebar-extra {
                width: 1.8em;
                height: 1.8em;
                display: inline-block;
                border-radius: 0.4em;
                margin: 0.5em 0;
                vertical-align: top;
            }

            .button {
                height: 2.5em;

                &::after {
                    margin-top: -0.3em;
                }
            }
        }
    }
}

.win {
    .terminal:not(.win32) {
        .titlebar {
            background: #333333;
            color: white;

            .titlebar-title {
                background: #000000;

                &::after {
                    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -14 30 30"><path d="M-4 -4L4 4M4 -4L-4 4" stroke-linecap="round" stroke-width="1" stroke="white"/></svg>');
                }
            }

            .titlebar-extra {
                color: #ffffff;

                &:hover {
                    background: #3b3b3b;
                }
            }

            .button {

                &.btn-3:hover,
                &.btn-2:hover {
                    background: #3a3a3a;
                }

                &.btn-1:hover {
                    background: #e81123;
                    color: white;
                }
            }

            .titlebar-extra::after {
                content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M-6 0 L6 0M0-6L0 6" stroke-width="1" stroke="white"/></svg>');
            }
        }
    }


    &.light {
        .terminal:not(.win32) {
            .titlebar {
                background: #e8e8e8;
                color: black;

                .titlebar-title {
                    background: #ffffff;

                    &::after {
                        content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -14 30 30"><path d="M-4 -4L4 4M4 -4L-4 4" stroke-linecap="round" stroke-width="1" stroke="black"/></svg>');
                    }
                }

                .titlebar-extra::after {
                    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M-6 0 L6 0M0-6L0 6" stroke-width="1" stroke="black"/></svg>');
                }

                .button {

                    &.btn-3:hover,
                    &.btn-2:hover {
                        background: #e0e0e0;
                    }

                    &.btn-1:hover {
                        background: #c42b1c;
                    }
                }
            }

            .titlebar-extra {
                color: #000000;

                &:hover {
                    background: #dbdbdb;
                }
            }
        }
    }
}

.win {
    .terminal.win32 {
        .titlebar {
            display: block;
            width: 100%;
            padding-left: 0.5em;
            user-select: none;
            overflow: hidden;
            box-sizing: border-box;
            background: #1c2028;
            color: white;
            height: 1.8em;

            .titlebar-extra {
                display: none;
            }

            .titlebar-title {
                display: inline-flex;
                width: calc(100% - 10em);
                vertical-align: middle;
                height: 100%;
                align-items: center;

                .titlebar-icon {
                    width: 1.5em;
                    height: 1.5em;
                    display: inline-block;
                    vertical-align: middle;
                    background: transparent url(@powershell-icon) no-repeat center center;
                }

                .titlebar-text {
                    font-size: 0.8em;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    line-height: 2.3em;
                    flex: 1;
                    display: inline-block;
                }
            }

            .button {
                width: 2.8em;
                height: 100%;

                &::after {
                    margin-top: -0.6em;
                }

                &.btn-1:hover {
                    background: #c42b1c;
                }

                &.btn-3:hover,
                &.btn-2:hover {
                    background: #c5c5c5;
                }
            }
        }

        .terminal-code {
            font-size: 0.9rem !important;
        }
    }
}

.light.win {
    .terminal.win32 {
        .titlebar {
            background: white;
            color: black;
        }
    }
}

.mac {
    .terminal {
        .titlebar {
            .titlebar-title {
                .titlebar-text::before {
                    content: "🏠 ";
                }
            }
        }

        .terminal-code {
            font-size: 0.9rem !important;
        }
    }
}