.terminal .terminal-code .posh.ps1 {
  color: var(--tc-foreground);
}
.terminal .terminal-code .bash.ps1-w {
  color: var(--tc-brightblue);
}
.terminal .terminal-code .bash.ps1-u {
  color: var(--tc-brightgreen);
}
.terminal .terminal-code .bash.ps1-h {
  color: var(--tc-brightgreen);
}
.terminal .titlebar {
  display: none;
}
.terminal .body {
  width: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  display: flex;
  overflow-y: hidden;
}
.terminal .body .panel-h > * {
  border-color: #4c4a48;
  border-style: none solid;
}
.terminal .body .panel-h > *:first-child {
  border-left: none;
}
.terminal .body .panel-h > *:last-child {
  border-right: none;
}
.terminal .body .panel-v > * {
  border-color: #4c4a48;
  border-style: solid none;
}
.terminal .body .panel-v > *:first-child {
  border-top: none;
}
.terminal .body .panel-v > *:last-child {
  border-bottom: none;
}
.terminal .body .terminal-code {
  padding: 8px 1.5ch;
  margin: 0;
  cursor: default;
  white-space: pre-wrap;
  word-break: break-all;
  border-width: 1px;
  border-radius: 0;
  font-size: 1rem !important;
  box-sizing: border-box;
  overflow: hidden auto;
}
.terminal .body .terminal-code::selection,
.terminal .body .terminal-code *::selection {
  background: var(--tc-selection);
}
.terminal .body .terminal-code details {
  display: inline-block;
  width: 100%;
  margin-right: 16px;
}
.terminal .body .terminal-code details summary {
  display: inline-block;
  width: 100%;
  margin-right: 16px;
}
.terminal .body .terminal-code details summary .ps1 {
  position: relative;
}
.terminal .body .terminal-code details summary .ps1::before {
  content: "○";
  position: absolute;
  bottom: 0;
  left: -1.2ch;
}
.terminal .body .terminal-code details[open] summary .ps1::before {
  content: "●";
  color: #3b8eea;
}
.terminal .body .terminal-code details[open] summary.error .ps1::before {
  content: "●";
  color: #f14c4c;
}
.terminal ::-webkit-scrollbar {
  width: 0.4em;
}
.terminal ::-webkit-scrollbar-track {
  opacity: 0;
}
.terminal ::-webkit-scrollbar-thumb:vertical {
  border-radius: 0.2em;
}
.terminal ::-webkit-scrollbar-corner {
  background: none;
}
.terminal {
  --tc-foreground: #c0c0c0;
  --tc-background: #000000;
  --tc-selection: #606060;
  --tc-black: #000000;
  --tc-white: #e5e5e5;
  --tc-red: #cd3131;
  --tc-green: #0DBC79;
  --tc-yellow: #e5e510;
  --tc-blue: #2472c8;
  --tc-magenta: #bc3fbc;
  --tc-cyan: #11a8cd;
  --tc-brightblack: #666666;
  --tc-brightwhite: #e5e5e5;
  --tc-brightred: #f14c4c;
  --tc-brightgreen: #23d18b;
  --tc-brightyellow: #f5f543;
  --tc-brightblue: #3b8eea;
  --tc-brightmagenta: #d670d6;
  --tc-brightcyan: #29b8db;
}
.light .terminal {
  --tc-foreground: #333333;
  --tc-background: #FFFFFF;
  --tc-black: #000000;
  --tc-white: #555555;
  --tc-red: #cd3131;
  --tc-green: #00BC00;
  --tc-yellow: #949800;
  --tc-blue: #0451a5;
  --tc-magenta: #d670d6;
  --tc-cyan: #0598bc;
  --tc-brightblack: #666666;
  --tc-brightwhite: #a5a5a5;
  --tc-brightred: #cd3131;
  --tc-brightgreen: #14CE14;
  --tc-brightyellow: #b5ba00;
  --tc-brightblue: #0451a5;
  --tc-brightmagenta: #bc05bc;
  --tc-brightcyan: #0598bc;
}
.mac .terminal {
  --tc-foreground: #f0f0f0;
  --tc-background: #1b1b1b;
}
.win .terminal.win32 {
  --tc-foreground: #eeedf0;
  --tc-background: #012456;
}
.terminal {
  background: var(--tc-background, black);
}
.terminal .terminal-code {
  color: var(--tc-foreground, silver);
}
.terminal .terminal-code .terminal-code-black {
  color: var(--tc-black, black);
}
.terminal .terminal-code .terminal-code-white {
  color: var(--tc-white, white);
}
.terminal .terminal-code .terminal-code-red {
  color: var(--tc-red, red);
}
.terminal .terminal-code .terminal-code-green {
  color: var(--tc-green, green);
}
.terminal .terminal-code .terminal-code-yellow {
  color: var(--tc-yellow, yellow);
}
.terminal .terminal-code .terminal-code-blue {
  color: var(--tc-blue, blue);
}
.terminal .terminal-code .terminal-code-magenta {
  color: var(--tc-magenta, magenta);
}
.terminal .terminal-code .terminal-code-cyan {
  color: var(--tc-cyan, cyan);
}
.terminal .terminal-code .terminal-code-brightblack {
  color: var(--tc-brightblack, gray);
}
.terminal .terminal-code .terminal-code-brightwhite {
  color: var(--tc-brightwhite, white);
}
.terminal .terminal-code .terminal-code-brightred {
  color: var(--tc-brightred, lightcoral);
}
.terminal .terminal-code .terminal-code-brightgreen {
  color: var(--tc-brightgreen, limegreen);
}
.terminal .terminal-code .terminal-code-brightyellow {
  color: var(--tc-brightgreen, lightyellow);
}
.terminal .terminal-code .terminal-code-brightblue {
  color: var(--tc-brightblue, deepskyblue);
}
.terminal .terminal-code .terminal-code-brightmagenta {
  color: var(--tc-brightmagenta, violet);
}
.terminal .terminal-code .terminal-code-brightcyan {
  color: var(--tc-brightcyan, lightcyan);
}
.terminal ::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}
.terminal ::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
.terminal ::-webkit-scrollbar-thumb:active {
  background: #787878;
}
.light .terminal .body {
  color: var(--tc-background, white);
}
.light .terminal .terminal-code {
  color: var(--tc-foreground, #333333);
}
.win .terminal:not(.win32) .titlebar {
  display: block;
  width: 100%;
  height: 2.5em;
  padding-left: 0.5em;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
}
.win .terminal:not(.win32) .titlebar .titlebar-title {
  width: 30%;
  max-width: 20em;
  min-width: 15em;
  height: calc(100% - 0.5em);
  padding-left: 1em;
  border-radius: 0.4em 0.4em 0 0;
  margin-top: 0.5em;
  display: inline-flex;
  align-items: center;
}
.win .terminal:not(.win32) .titlebar .titlebar-title .titlebar-icon {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  vertical-align: middle;
  background: transparent url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="95.1" y1="91.8" x2="26.85" y2="30.82"><stop offset="0" stop-color="%235391fe"/><stop offset="1" stop-color="%233e6dbf"/></linearGradient><path fill="url(%23a)" d="M9.491 109c-1.62 0-3.021-.638-3.944-1.798-.944-1.185-1.268-2.814-.889-4.47l17.834-77.911C23.239 21.557 26.376 19 29.634 19H118.5c1.62 0 3.021.638 3.945 1.798.944 1.184 1.268 2.814.889 4.47L105.5 103.179c-.747 3.264-3.884 5.822-7.143 5.822H9.491z"/><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="26.2" y1="30" x2="93.75" y2="90.7"><stop offset="0" stop-color="%235391fe"/><stop offset="1" stop-color="%233e6dbf"/></linearGradient><path fill="url(%23b)" d="M29.634 20H118.5c2.769 0 4.496 2.259 3.858 5.045l-17.834 77.911c-.638 2.786-3.399 5.045-6.168 5.045H9.491c-2.769 0-4.496-2.258-3.858-5.045l17.834-77.911C24.104 22.259 26.866 20 29.634 20z"/><path fill="%232C5591" d="M64.165 87.558h21.613c2.513 0 4.55 2.125 4.55 4.746 0 2.621-2.037 4.747-4.55 4.747H64.165c-2.513 0-4.55-2.125-4.55-4.747 0-2.621 2.037-4.746 4.55-4.746zM78.184 66.455c-.372.749-1.144 1.575-2.509 2.534L35.562 97.798c-2.19 1.591-5.334 1.001-7.021-1.319-1.687-2.32-1.28-5.49.91-7.082l36.173-26.194v-.538L42.896 38.487c-1.854-1.972-1.661-5.161.431-7.124 2.092-1.962 5.29-1.954 7.144.018l27.271 29.012c1.548 1.647 1.663 4.141.442 6.062z"/><path fill="%23FFF" d="M77.184 65.455c-.372.749-1.144 1.575-2.509 2.534L34.562 96.798c-2.19 1.591-5.334 1.001-7.021-1.319-1.687-2.32-1.28-5.49.91-7.082l36.173-26.194v-.538L41.896 37.487c-1.854-1.972-1.661-5.161.431-7.124 2.092-1.962 5.29-1.954 7.144.018l27.271 29.012c1.548 1.647 1.663 4.141.442 6.062zM63.55 87h21.613c2.513 0 4.55 2.015 4.55 4.5s-2.037 4.5-4.55 4.5H63.55C61.037 96 59 93.985 59 91.5s2.037-4.5 4.55-4.5z"/></svg>') no-repeat center center;
}
.win .terminal:not(.win32) .titlebar .titlebar-title .titlebar-text {
  font-size: 0.8em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 2.3em;
  font-weight: bold;
  flex: 1;
}
.win .terminal:not(.win32) .titlebar .titlebar-title::after {
  float: right;
  width: 2em;
  height: 2em;
}
.win .terminal:not(.win32) .titlebar .titlebar-extra {
  width: 1.8em;
  height: 1.8em;
  display: inline-block;
  border-radius: 0.4em;
  margin: 0.5em 0;
  vertical-align: top;
}
.win .terminal:not(.win32) .titlebar .button {
  height: 2.5em;
}
.win .terminal:not(.win32) .titlebar .button::after {
  margin-top: -0.3em;
}
.win .terminal:not(.win32) .titlebar {
  background: #333333;
  color: white;
}
.win .terminal:not(.win32) .titlebar .titlebar-title {
  background: #000000;
}
.win .terminal:not(.win32) .titlebar .titlebar-title::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -14 30 30"><path d="M-4 -4L4 4M4 -4L-4 4" stroke-linecap="round" stroke-width="1" stroke="white"/></svg>');
}
.win .terminal:not(.win32) .titlebar .titlebar-extra {
  color: #ffffff;
}
.win .terminal:not(.win32) .titlebar .titlebar-extra:hover {
  background: #3b3b3b;
}
.win .terminal:not(.win32) .titlebar .button.btn-3:hover,
.win .terminal:not(.win32) .titlebar .button.btn-2:hover {
  background: #3a3a3a;
}
.win .terminal:not(.win32) .titlebar .button.btn-1:hover {
  background: #e81123;
  color: white;
}
.win .terminal:not(.win32) .titlebar .titlebar-extra::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M-6 0 L6 0M0-6L0 6" stroke-width="1" stroke="white"/></svg>');
}
.win.light .terminal:not(.win32) .titlebar {
  background: #e8e8e8;
  color: black;
}
.win.light .terminal:not(.win32) .titlebar .titlebar-title {
  background: #ffffff;
}
.win.light .terminal:not(.win32) .titlebar .titlebar-title::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -14 30 30"><path d="M-4 -4L4 4M4 -4L-4 4" stroke-linecap="round" stroke-width="1" stroke="black"/></svg>');
}
.win.light .terminal:not(.win32) .titlebar .titlebar-extra::after {
  content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 30 30"><path d="M-6 0 L6 0M0-6L0 6" stroke-width="1" stroke="black"/></svg>');
}
.win.light .terminal:not(.win32) .titlebar .button.btn-3:hover,
.win.light .terminal:not(.win32) .titlebar .button.btn-2:hover {
  background: #e0e0e0;
}
.win.light .terminal:not(.win32) .titlebar .button.btn-1:hover {
  background: #c42b1c;
}
.win.light .terminal:not(.win32) .titlebar-extra {
  color: #000000;
}
.win.light .terminal:not(.win32) .titlebar-extra:hover {
  background: #dbdbdb;
}
.win .terminal.win32 .titlebar {
  display: block;
  width: 100%;
  padding-left: 0.5em;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  background: #1c2028;
  color: white;
  height: 1.8em;
}
.win .terminal.win32 .titlebar .titlebar-extra {
  display: none;
}
.win .terminal.win32 .titlebar .titlebar-title {
  display: inline-flex;
  width: calc(100% - 10em);
  vertical-align: middle;
  height: 100%;
  align-items: center;
}
.win .terminal.win32 .titlebar .titlebar-title .titlebar-icon {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  background: transparent url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="95.1" y1="91.8" x2="26.85" y2="30.82"><stop offset="0" stop-color="%235391fe"/><stop offset="1" stop-color="%233e6dbf"/></linearGradient><path fill="url(%23a)" d="M9.491 109c-1.62 0-3.021-.638-3.944-1.798-.944-1.185-1.268-2.814-.889-4.47l17.834-77.911C23.239 21.557 26.376 19 29.634 19H118.5c1.62 0 3.021.638 3.945 1.798.944 1.184 1.268 2.814.889 4.47L105.5 103.179c-.747 3.264-3.884 5.822-7.143 5.822H9.491z"/><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="26.2" y1="30" x2="93.75" y2="90.7"><stop offset="0" stop-color="%235391fe"/><stop offset="1" stop-color="%233e6dbf"/></linearGradient><path fill="url(%23b)" d="M29.634 20H118.5c2.769 0 4.496 2.259 3.858 5.045l-17.834 77.911c-.638 2.786-3.399 5.045-6.168 5.045H9.491c-2.769 0-4.496-2.258-3.858-5.045l17.834-77.911C24.104 22.259 26.866 20 29.634 20z"/><path fill="%232C5591" d="M64.165 87.558h21.613c2.513 0 4.55 2.125 4.55 4.746 0 2.621-2.037 4.747-4.55 4.747H64.165c-2.513 0-4.55-2.125-4.55-4.747 0-2.621 2.037-4.746 4.55-4.746zM78.184 66.455c-.372.749-1.144 1.575-2.509 2.534L35.562 97.798c-2.19 1.591-5.334 1.001-7.021-1.319-1.687-2.32-1.28-5.49.91-7.082l36.173-26.194v-.538L42.896 38.487c-1.854-1.972-1.661-5.161.431-7.124 2.092-1.962 5.29-1.954 7.144.018l27.271 29.012c1.548 1.647 1.663 4.141.442 6.062z"/><path fill="%23FFF" d="M77.184 65.455c-.372.749-1.144 1.575-2.509 2.534L34.562 96.798c-2.19 1.591-5.334 1.001-7.021-1.319-1.687-2.32-1.28-5.49.91-7.082l36.173-26.194v-.538L41.896 37.487c-1.854-1.972-1.661-5.161.431-7.124 2.092-1.962 5.29-1.954 7.144.018l27.271 29.012c1.548 1.647 1.663 4.141.442 6.062zM63.55 87h21.613c2.513 0 4.55 2.015 4.55 4.5s-2.037 4.5-4.55 4.5H63.55C61.037 96 59 93.985 59 91.5s2.037-4.5 4.55-4.5z"/></svg>') no-repeat center center;
}
.win .terminal.win32 .titlebar .titlebar-title .titlebar-text {
  font-size: 0.8em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 2.3em;
  flex: 1;
  display: inline-block;
}
.win .terminal.win32 .titlebar .button {
  width: 2.8em;
  height: 100%;
}
.win .terminal.win32 .titlebar .button::after {
  margin-top: -0.6em;
}
.win .terminal.win32 .titlebar .button.btn-1:hover {
  background: #c42b1c;
}
.win .terminal.win32 .titlebar .button.btn-3:hover,
.win .terminal.win32 .titlebar .button.btn-2:hover {
  background: #c5c5c5;
}
.win .terminal.win32 .terminal-code {
  font-size: 0.9rem !important;
}
.light.win .terminal.win32 .titlebar {
  background: white;
  color: black;
}
.mac .terminal .titlebar .titlebar-title .titlebar-text::before {
  content: "🏠 ";
}
.mac .terminal .terminal-code {
  font-size: 0.9rem !important;
}
