.dark {
  color: white;
  background: #1a1b1b;
}
.dark .task-box {
  background: #1a1b1b;
}
.dark select,
.dark input {
  color: white;
  background: #1a1b1b;
}
.dark input[type=text] {
  border: 1px solid #757575;
  border-radius: 3px;
}
.dark .slide .body {
  background: #999999;
}
.dark .slide .body .slide-container {
  background: #1a1b1b;
}
.dark .slide .body a {
  color: #738ba5;
}
.dark .browser .body a {
  color: #738ba5;
}
.light {
  color: black;
  background: white;
}
.light .slide .body {
  background: #999999;
}
body {
  background: white;
}
