.dark {
    color: white;
    background: #1a1b1b;

    a {
        color: #738ba5;
    }

    .task-box {
        background: #1a1b1b;
    }

    select,
    input {
        color: white;
        background: #1a1b1b;
    }

    input[type=text] {
        border: 1px solid #757575;
        border-radius: 3px;
    }

    .slide {
        .body {
            background: #999999;

            .slide-container {
                background: #1a1b1b;
            }
        }
    }
}

.light {
    .slide {
        .body {
            background: #999999;
        }
    }
}